/*== GLOBAL --*/

:root {
    --background: #b8bedd;
    --white: #ffffff;
    --border: #f0e6ef;
    --text: #9b9fb4;
    --insideText: #bbbbbb;
    --link: #9b9fb4;
    --bttRGB: 156, 137, 184;
    --accent: #efc3e6;
    --title: #9c89b8;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'VT323', monospace;
    background-color: var(--background);
    margin: 0;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    color: var(--accent);
}

h3, h4 {
    font-family: 'Bitter', serif;
    color: var(--title); 
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {font-size: 1em; margin-bottom: 0.75em;}

/*== HEADER --*/
.upper {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.topHeader {
    text-align: center;
    padding: 30px;
    margin: 0o;
    background-color: var(--white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.topHeader a {
    border-bottom: 4px solid transparent;
    padding: 15px 3px;
    margin: 20px;
}

.topHeader a:hover {
    border-bottom: 4px solid var(--accent);
    transition: border-bottom 1s;
}

#bill {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}

#projects {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}

#navigation {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}

/*== TICKET --*/

#container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 200px;
}

#ticket {
    flex: initial;
    display: block;
    background-color: var(--white);
    width: 700px;
}

#topZigZag, #bottomZigZag {
    position: relative;
    width: 700px;
}
#topZigZag:after{
    background: linear-gradient(-135deg, var(--background) 10px, transparent 0), linear-gradient(135deg, var(--background) 10px, transparent 0);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-size: 12px 32px;
    background-color: var(--white);
	content: " ";
	display: block;
	bottom: 0px;
	left: 0px;
	height: 25px;
    z-index: 1;
}
#bottomZigZag:after {
	background: linear-gradient(-45deg, var(--background) 10px, transparent 0), linear-gradient(45deg, var(--background) 10px, transparent 0);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-size: 12px 32px;
    background-color: var(--white);
	content: " ";
	display: block;
	position: absolute;
	bottom: -25px;
	left: 0px;
	width: 100%;
	height: 25px;
    z-index: 1;
}

#ticket section {
    text-align: left;
    padding: 45px;
}

/*== CLASSES --*/

.title {
    color: var(--title);
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 1.75em;
    border-bottom: 1px solid var(--border);
}

/*== BILL --*/

.stats {
    font-size: 20px;
    margin-bottom: 20px;
}

.stats div {
    margin-bottom: 10px;
    margin-top: 10px;
}

.statsTitle {
    font-size: 20px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 4px solid var(--accent);
    margin-right: 10px;
}

.itemList {
    border-top: 1px solid var(--border);
}

.item {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total {
    border-top: 1px solid var(--border);
    padding-top: 10px;
}

.end {
    padding-top: 50px;
    justify-content: center;
}

/*== PROJECTS --*/

#projectGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

#results {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.project {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 100%;
    aspect-ratio : 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.projectTitle {
    color: var(--title);
    font-size: 25px;
}

.projectDesc {
    padding-top: 5px;
    color: var(--insideText);
}

.tags {
    padding-top: 10px;
}

#noFound {
    display: none;
    font-size: 20px;
}

#noFound img{
    width: 20px;
}

#filter {
    float: right;
    background-color: var(--accent); 
    color: var(--white); 
    padding: 6px;
    border-radius: 4px;
    font-size: 10px;
}

/*== NAVIGATION --*/

#search {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.searchBar {
    margin-left: 10px;
    border: 2px dashed var(--accent);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.searchBar:hover {
    border: 2px solid var(--accent);
}

.searchBar::placeholder {
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: var(--accent);
}

.searchBar:focus::placeholder {
    content: 'hasd';
}

.fa {
    font-size: 30px;
    position: relative;
    right: 80px;
    top: -20px;
    color: var(--accent);
}

.links a::after {
    content: '\2661';
    margin: 10px;
    margin-left: 15px;
    color: var(--accent);
}

.links a:last-of-type::after {display: none;}

/*== CONTACT --*/

#contact div {
    text-align: right;
}

.fab, #contact a, .fas {
    color: var(--accent);
}

.backTop {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    font-size: 20px;
    background-color: rgba(var(--bttRGB), 0.5);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    right: 10%;
    bottom: 10%;
    color: var(--title);
}

.backTop:hover {
    background-color: rgba(var(--bttRGB), 100%)
}

/*== RESPONSIVE --*/

@media only screen and (max-width: 768px) and (min-width: 501px) {
    #ticket, #topZigZag, #bottomZigZag {width: 500px;}
}

@media only screen and (max-width: 500px) {
    #ticket, #topZigZag, #bottomZigZag {width: 80vw;}
}